<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <script>
    function toggleBibTeX(id) {
      var bibtex = document.getElementById('bibtex-container-' + id);
      var button = document.getElementById('copy-' + id);
      if (bibtex.style.display === "none") {
        bibtex.style.display = "block";
        button.style.display = "inline-block";
      } else {
        bibtex.style.display = "none";
        button.style.display = "none";
      }
    }
    function copyBibTeX(id) {
      var bibtexContent = document.getElementById('bibtex-content-' + id).innerText;
      navigator.clipboard.writeText(bibtexContent).then(function() {
        var feedback = document.getElementById('feedback-' + id);
        var copyButton = document.getElementById('copy-' + id);
        copyButton.style.display = 'none';
        feedback.style.display = 'inline-block';
        setTimeout(function() {
          feedback.style.display = 'none';
          copyButton.style.display = 'inline-block';
        }, 2000);
      }, function(err) {
        console.error('Could not copy text: ', err);
      });
    }
  </script>
  <style>
  .copy-button {
    position: relative;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .copy-button:hover {
    background-color: #0056b3;
  }
  .copy-feedback {
    display: none;
    position: relative;
    top: 5px;
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
  }
  .bibtex-container {
    display: none;
    max-width: 100%;
    overflow-x: auto;
    word-wrap: normal;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    margin-top: 1em;
  }
</style>

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Vidhi Jain
              </h1>
              <p align="center"> 
                <strong>email:</strong> vidhij <em>at</em> alumni.cmu <em>dot</em> edu
              </p>
              <hr>
              <p>
                I am taking a break and exploring new opportunities for my next chapter.
                I completed my PhD at <a href="https://www.ri.cmu.edu/ri-people/vidhi-jain/">Carnegie Mellon University, Robotics Institute (RI)</a>, advised by <a href="http://yonatanbisk.com/">Yonatan Bisk</a>.
                Previously, I was a Researcher at <a href="https://openai.com/">OpenAI</a> on the AI for Science team,
                and have worked at <a href="https://research.google/research-areas/robotics/">Google DeepMind Robotics</a>,
                <a href="https://ai.meta.com/blog/meta-ai-residency-profiles/"> Meta AI </a>
                and  <a href="https://www.microsoft.com/en-us/research/academic-program/research-fellows-program-at-microsoft-research-india/testimonials/">Microsoft Research India</a>.
              </p>
              <!-- <p>
                Hi,
                I am a PhD student at the <a href="https://www.ri.cmu.edu/">Robotics Institute</a> (RI), 
                  part of the <a href="https://www.scs.cmu.edu/">School of Computer Science</a> 
                  at <a href="https://www.cmu.edu/">Carnegie Mellon University</a> (CMU),
                where I am advised by <a href="http://yonatanbisk.com/">Yonatan Bisk</a>. 
                Previously, I have worked at <a href="https://research.google/research-areas/robotics/">Google DeepMind Robotics</a>, -->
                <!-- , mentored by <a href="https://debidatta.github.io/">Debidatta Dwibedi</a>. -->
                <!-- <a href="https://ai.meta.com/blog/meta-ai-residency-profiles/"> -->
                  <!-- Meta AI -->
                <!-- </a>  -->
                <!-- working with <a href="https://scholar.google.com/citations?user=H8FJlJoAAAAJ&hl=en">Akshara Rai</a> and <a href="https://scholar.google.com/citations?user=28oeBTgAAAAJ&hl=en">Yixin Lin</a>.  -->
                <!-- and <a href="https://www.microsoft.com/en-us/research/academic-program/research-fellows-program-at-microsoft-research-india/testimonials/">Microsoft Research India</a>. -->
                <!-- , advised by <a href="https://www.microsoft.com/en-us/research/people/amitdesh/">Amit Deshpande</a> and <a href="https://www.microsoft.com/en-us/research/people/navingo/">Navin Goyal</a>. --> 
              <!-- </p> -->
              <p>
                My research focuses on improving model capabilities in new domains.
                At OpenAI, I worked on <strong>reasoning models</strong>, <strong>LLM RL post-training</strong>, and <strong>code generation</strong>.
                During my PhD, I focused on translating implicit human intent, specializing in representions for <strong>language</strong>, <strong>vision</strong>, or <strong>audio</strong>, to influence robot behavior.
              </p>
              <!-- <p>
                I received a Masters in Robotics  from <a href="https://www.ri.cmu.edu/">CMU RI</a> working on on <a href="https://www.ri.cmu.edu/publications/towards-explainable-embodied-ai/">interpretable embodied AI</a> with <a href="https://www.ri.cmu.edu/ri-faculty/katia-sycara/">Katia Sycara</a>. 
                I earned a Bachelors in Computer Science from <a href="https://www.bits-pilani.ac.in/">BITS Pilani</a>, where I worked in <a href="https://www.linkedin.com/in/rahulbanerjeebits/">Rahul Banerjee's</a> lab. 
                I collaborated with <a href="https://scholar.google.com/citations?user=km6CP8cAAAAJ&hl=en">Aaron Courville</a> at <a href="https://mila.quebec/en/person/28764/">Mila, Quebec</a> on <a href="pdfs/Bachelor_Thesis_VidhiJain.pdf">deep generative models</a>.
              </p> -->
              <p style="text-align:center">
                <a href="bio.txt">Bio</a>&nbsp;|&nbsp;
                <a href="pdfs/Jain_Vidhi_Curriculum_Vitae.pdf">CV</a> &nbsp;|&nbsp;
                <a href="https://github.com/vidhiJain">GitHub</a> &nbsp;|&nbsp;
                <a href="https://scholar.google.com/citations?user=Lc9GwgwAAAAJ&hl=en">Google Scholar</a> &nbsp;|&nbsp;
                <a href="https://www.linkedin.com/in/vidhijain96/"> LinkedIn </a> &nbsp;|&nbsp;
                <a href="https://twitter.com/viddivj">X </a> 
                <!-- <a href="https://www.ri.cmu.edu/ri-people/vidhi-jain/">CMU RI</a> -->
              </p>
              <!-- <p style="text-align:center"> 
                <a href="https://forms.gle/db74yxjy5Uc7CuB39">Office Hours</a>
              </p> -->
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/vj_circle_bw_crop.png">
            </td>
          </tr>
        </table>
        <!-- News -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>News</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% assign years_ago = site.time | date: "%Y" | minus: 2 %}
          {% assign current_year = post.date | date: "%Y" | plus: 0 %}
          {% if cat == 'news' %}
          {% if  current_year >= years_ago %}
          <tr>
              <details>
              <summary style="padding: 4px;width: 100%;background-color:#ffffff;border: none;box-shadow: 1px 1px 2px #ffffff;cursor: pointer;">
                <span style="text-align:center;"><em>{{ post.date | date: "%B %Y" }}</em>, <h3>{{post.title}}</h3></span>

              </summary> 
              {{post.summary}}
              <br>
              </details>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <details>
          <summary style="padding: 4px;width: 100%;background-color: #ffffff;border: none;box-shadow: 1px 1px 2px #ffffff;cursor: pointer;">
            <span style="text-align:center;"><em> Show more ... </em></span>
          </summary>
        <table style="width:100%;border:1px;border-spacing:5px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% assign years_ago = site.time | date: "%Y" | minus: 2 %}
          {% assign current_year = post.date | date: "%Y" | plus: 0 %}
          {% if cat == 'news' %}
          {% if  current_year < years_ago %}
          <tr bgcolor={{post.highlight}}>
              <details>
              <summary style="padding: 4px;width: 100%;background-color: #ffffff;border: none;box-shadow: 1px 1px 2px #ffffff;cursor: pointer;">
                <span style="text-align:center;"><em>{{ post.date | date: "%B %Y" }}</em>, <h3>{{post.title}}</h3></span>
              </summary> 
              {{post.summary}}
              <br>
              </details>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
      </details>
        <br>
        <br>
        <br>
        <!-- Research  -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <!-- <p>
                My research can be summarized into four scopes - 
                understanding the goals and intentions of other agents, 
                learning from data without extensive supervision, 
                modeling spatio-temporal context for improved task-efficiency, 
                and explaining the machine learning model's predictions. 
                Here is a list of my relevant research publications and presentations. 
                The key papers are <span style="background-color: #ffffd0">highlighted</span>.</p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px 10px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr bgcolor={{post.highlight}}>
            <td style="padding:2.5%;width:33%;vertical-align:middle;min-width:120px;" align="center">
              <img src="{{post.image}}" alt="project image" style="padding-top:0px;padding-bottom:0px;border-radius:5px;border:1px solid rgba(0, 0, 0, 0);width:auto; height:auto; max-width:100%;" />
            </td> 
            <td style="padding:2.5%;width:67%;vertical-align:middle"  align="left">
              <!-- <td style="padding:2.5%;width:100%;vertical-align:middle"  align="left"></td> -->
              <a href={{post.titleurl}}><h3>{{post.title}}</h3></a>
              <br><br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em> {{ post.date | date: "%Y" }}.
              <br><br>
              
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> |
              {% endif %}
              {% if post.webpage %}
              <a href="{{post.webpage}}">webpage</a> |
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> |
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> |
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> |
              {% endif %}
              {% if post.tweet %}
              <a href="{{post.tweet}}">tweet</a> |
              {% endif %}
              {% if post.reviews %}
              <a href="{{post.reviews}}">reviews</a> |
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> |
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.bibtex %}
              <!-- <a href="{{post.bibtex}}">BibTeX</a> -->
              {% assign parts = post.bibtex | split: '/' %}
              {% assign research_name = parts | last %}
              {% if research_name contains '.bib' %}
              {% assign research_name = research_name | replace: '.bib', '' %}
              {% endif %}
              <a href="#" onclick="toggleBibTeX('{{ research_name }}'); return false;">Show BibTeX</a>
              <div class='bibtex-container' id="bibtex-container-{{ research_name }}" style="display: none;">
                <code id="bibtex-content-{{ research_name }}">
                  {%- capture bibtex -%}
                  {%- include_relative {{ post.bibtex }} -%}
                  {%- endcapture -%}
                  {{- bibtex | strip_html | strip | newline_to_br | strip_newlines  -}}        
                </code>
                <br>
                <button class="copy-button" id="copy-{{ research_name }}" onclick="copyBibTeX('{{ research_name }}')">Copy</button>
                <span class="copy-feedback" id="feedback-{{ research_name }}">Copied!</span>
              </div>
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <!-- Talks -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Talks</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'talks' %}
          {% if post.important == 'true' %}
          <tr>
            <details>
              <summary style="padding: 4px;width: 100%;background-color:#ffffff;border: none;box-shadow: 1px 1px 2px #ffffff;cursor: pointer;">
                <span style="text-align:center;"><em>{{ post.date | date: "%B %Y" }}</em>, <h3><a href="{{post.titleurl}}">{{post.title}}</a></h3></span>
              </summary> 
              {{post.summary}}
            </details>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <details>
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <summary style="padding: 4px;width: 100%;background-color: #ffffff;border: none;box-shadow: 1px 1px 2px #ffffff;cursor: pointer;">
              <span style="text-align:center;"><em> Show more ... </em></span>
            </summary>
            {% for post in site.posts %}
            {% for cat in post.categories %}
            {% if cat == 'talks' %}
            {% if post.important == '' or  post.important == 'false' %}
            <tr>
              <details>
                <summary style="padding: 4px;width: 100%;background-color:#ffffff;border: none;box-shadow: 1px 1px 2px #ffffff;cursor: pointer;">
                  <span style="text-align:center;"><em>{{ post.date | date: "%B %Y" }}</em>, <h3><a href="{{post.titleurl}}">{{post.title}}</a></h3></span>
                </summary> 
                {{post.summary}}
              </details>
            </tr>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}
          </table>
        </details>
        <br>
        <br>
        <br>
        <!-- Education -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding: 2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:1px;border-spacing:5px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'education' %}
          <tr>
            <td style="padding:2.5%;width:33%;vertical-align:middle;min-width:120px;" align="center">
              <img src="{{post.image}}" alt="logo image" style="padding-top:0px;padding-bottom:0px;width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:67%;vertical-align:middle;min-width:120px;">
              <a href="{{post.titleurl}}"><h3>{{post.title}}</h3></a>
              {{ post.startdate | date: "%Y" }}-{{ post.enddate | date: "%Y" }}
              <br>
              <em>Advisor: </em> <a href="{{post.advisorurl}}">{{post.advisor}}</a>
              &nbsp;
              <br>
              <em>Thesis: </em> <a href="{{post.thesisurl}}">{{post.thesis}}</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <!-- Credits -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <hr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from  <a href="https://leonidk.com/">Leonid Keselman</a>'s <a href="https://github.com/leonidk/new_website">Jekyll fork</a> and <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

