<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Vidhi Jain
              </h1>
              <hr>
              <p>
                I work on improving robots for assistance in everyday household tasks. 
                I am a PhD student at the <a href="https://www.ri.cmu.edu/">Robotics Institute</a>(RI), part of the <a href="https://www.scs.cmu.edu/">School of Computer Science</a> at <a href="https://www.cmu.edu/">Carnegie Mellon University</a> (CMU). I am advised by <a href="http://yonatanbisk.com/">Yonatan Bisk</a>. 
              </p>
              <p>
                Before this, I worked at  <a href="https://www.intel.com">Meta AI</a> (formerly FAIR), as an <a href="https://www.intelrealsense.com/">AI resident</a>. I primarily worked on the Robovarchi project with <a href="https://scholar.google.com/citations?user=H8FJlJoAAAAJ&hl=en">Akshara Rai</a> and <a href="https://scholar.google.com/citations?user=28oeBTgAAAAJ&hl=en">Yixin Lin</a>. 
                I also worked as a <a href="https://www.microsoft.com/en-us/research/academic-program/research-fellows-program-at-microsoft-research-india/testimonials/">Research Fellow</a> at <a href="https://www.microsoft.com/en-us/research/lab/microsoft-research-india/">Microsoft Research India</a>, advised by <a href="https://www.microsoft.com/en-us/research/people/amitdesh/">Amit Deshpande</a> and <a href="https://www.microsoft.com/en-us/research/people/navingo/">Navin Goyal</a>.
              </p>
              <p>
                I received a Masters in Robotics  from <a href="https://www.ri.cmu.edu/">CMU RI</a> working on on <a href="https://www.ri.cmu.edu/publications/towards-explainable-embodied-ai/">interpretable embodied AI</a> with <a href="https://www.ri.cmu.edu/ri-faculty/katia-sycara/">Katia Sycara</a>. 
                I earned a Bachelors in Computer Science from <a href="https://www.bits-pilani.ac.in/">BITS Pilani</a>, where I worked in <a href="https://www.linkedin.com/in/rahulbanerjeebits/">Rahul Banerjee's</a> lab. 
                I collaborated with <a href="">Aaron Courville</a> at <a href="">Mila, Quebec</a> on <a href="">deep generative models</a>.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="vidhijain@cmu.edu"> Email</a> &nbsp;|&nbsp;
                <a href="https://github.com/vidhiJain">GitHub</a> &nbsp;|&nbsp;
                <a href="https://scholar.google.com/citations?user=Lc9GwgwAAAAJ&hl=en">Google Scholar</a> &nbsp;|&nbsp;
                <a href="https://www.linkedin.com/in/vidhijain96/"> LinkedIn </a> &nbsp;|&nbsp;
                <a href="https://twitter.com/viddivj">Twitter</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/circle_bw_crop.jpg">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                I'm interested in machine learning, optimization, computer vision, language and robotics. Here are some of research publications.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr bgcolor={{post.highlight}}>
              <td style="padding:2.5%;width:33%;vertical-align:middle;min-width:120px;" align="center">
              <img src="{{post.image}}" alt="project image" style="padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black;width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:67%;vertical-align:middle"  align="left">
              <a href={{post.titleurl}}><h2>{{post.title}}</h2></a>
              <br><br>
              {{post.authors}}
              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br><br>
              
              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> |
              {% endif %}
              {% if post.webpage %}
              <a href="{{post.webpage}}">webpage</a> |
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> |
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> |
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> |
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.tweet %}
              <a href="{{post.tweet}}">tweet</a> |
              {% endif %}
              {% if post.reviews %}
              <a href="{{post.reviews}}">reviews</a> |
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> |
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.bibtex %}
              <a href="{{post.bibtex}}">bibTeX</a> 
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Projects</h2>
              <p> Here is a detailed list of my academic projects. These include coursework, side projects and unpublished research work. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:2.5%;width:3%;vertical-align:middle;min-width:120px">
              <!-- <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
            </td>
            <td style="padding:2.5%;width:94%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              {{ post.date | date: "%Y" }}
              <br>

              {% if post.pdf %}
              <a href="{{post.pdf}}">pdf</a> |
              {% endif %}
              {% if post.webpage %}
              <a href="{{post.webpage}}">webpage</a> |
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> |
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> |
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> |
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.tweet %}
              <a href="{{post.tweet}}">tweet</a> |
              {% endif %}
              {% if post.reviews %}
              <a href="{{post.reviews}}">reviews</a> |
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> |
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.bibtex %}
              <a href="{{post.bibtex}}">bibTeX</a> 
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
            <td style="padding:2.5%;width:3%;vertical-align:middle;min-width:120px">
              <!-- <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" /> -->
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from  <a href="https://leonidk.com/">Leonid Keselman</a>'s <a href="https://github.com/leonidk/new_website">Jekyll fork</a> and <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

